{{ form_start(form) }}
        {{ form_rest(form) }}
<button class="btn btn-secondary"><i style="{{ styleIcon|default('')  }}" class="{{ icon|default('')  }}"></i>{{button|default('Enregistrer') }}</button>
{{ form_end(form) }}

